@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

*{margin: 0; padding: 0;}

a{
    text-decoration: none;
}

:root{
    --main-header-color: #000000;
    --font-color1: #ffffff;
}

header{
    background: var(--main-header-color);
}

.header-container{
    width: 70vw;
    margin: auto;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu ul{
    list-style: none;
    padding: 25px;
}
.menu ul li{
    display: inline;
    padding: 15px;
}
.menu ul li a{
    color: var(--font-color1);
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.logo{
    padding: 10px;
    width: auto;
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo a{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: var(--font-color1);
}

section{
    width: 70vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
section h1{
    text-align: center;
    margin: 15px;
}
section .new-news{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
section .new-card {
    background: #202020;
    width: 400px;
    display: inline-block;
    margin: 0 7px 10px 7px;
    position: relative;
    text-align: center;
    box-shadow: -6px 10px 25px -15px black;
    z-index: 9999;
    align-self: flex-start;
} 
section .new-card__unit-name {
    margin: 20px;
    text-align: left;
    width: 90%;
    font-size: 20px;
    color: white;
    font-weight: 900;
}
section .new-card__unit-description {
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 18px;  
}
section .new-card__title{
    color: white;
}
section .new-card__unit-date-publication{
    text-align: left;
    padding: 20px;
    color: #aaa; 
    font-size: 15px;
}

footer{
    background: var(--main-header-color);
}
footer .footer-container__nav{
    width: 70vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
footer .footer-container{
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
footer .footer-card{
    padding: 30px 70px 30px 70px;
    align-self: flex-start;
    text-align: left;
    color: white;
}
footer .footer-card__title{
    font-weight: 900;
    font-size: 20px;
    text-align: left;
}
footer .footer-card__contents{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 16px;
    font-weight: 400; 
}
footer .footer-card__contents ul{
    list-style: none;
}
footer .footer-card__contents ul li{
    padding: 3px 0 3px 0;
    text-align: left;
}
footer .footer-card__contents ul li a{
    color: #ffffff;
}
footer .footer-card__contents .fab{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 10px 10px 0;
}
footer img{
    align-self: center;
    padding: 30px;
}